In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MAIN.csv')

In [8]:
df=df[['batter','player_name']]

In [9]:
df.drop_duplicates()

        batter          player_name
0       457763        Posey, Buster
1       673451       Akiyama, Shogo
2       645277        Albies, Ozzie
3       641684  Hermosillo, Michael
4       593871       Polanco, Jorge
...        ...                  ...
116424  665665    Sanmartin, Reiver
117526  501625        Álvarez, José
117842  570632          Ureña, José
119348  543056      Coulombe, Danny
119736  547943        Ryu, Hyun Jin

[923 rows x 2 columns]