In [1]:
import pandas as pd
import sqlite3 as sql
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [2]:
conn = sql.connect('../database/bayesatbat.db')
c = conn.cursor()

In [3]:
sql_query = pd.read_sql_query("""SELECT * from EVENT""",conn)

In [4]:
df = pd.DataFrame(sql_query, columns=['batter', 'pitch_type', 'p_throws', 'zone', 'release_spin_rate', 'balls', 'strikes',
                                      'release_speed', 'estimated_ba_using_speedangle'])

In [5]:
#df=df.groupby(by=['player_name'])

In [6]:
#grouped_df =df.groupby('player_name')

In [7]:
#df=grouped_df

In [8]:
df

,batter,pitch_type,p_throws,zone,release_spin_rate,balls,strikes,release_speed,estimated_ba_using_speedangle
0,457763,FC,R,3,2691.0,1,0,87.0,0.131
1,673451,CH,R,11,1966.0,1,0,87.0,0.254
2,645277,CU,L,12,1977.0,0,2,87.0,0.357
3,641684,CH,R,11,2342.0,0,1,87.0,0.220
4,593871,CH,R,13,1834.0,1,1,87.0,0.051
...,...,...,...,...,...,...,...,...,...
119995,666185,FF,R,13,2611.0,0,0,95.4,NaN
119996,664058,SI,R,11,2386.0,0,0,95.4,NaN
119997,621466,FF,R,14,2234.0,1,1,95.4,NaN
119998,641820,SI,R,11,2013.0,0,0,95.4,NaN
119999,544369,SI,R,8,1975.0,0,0,95.4,NaN

In [9]:
#df=df[df['launch_speed'].notna()]
df=df[df['estimated_ba_using_speedangle'].notna()]

In [10]:
df = df.drop('batter', axis=1)

In [11]:
df1 =df[df['player_name'] == 'Olson, Matt']

KeyError: 'player_name'

In [12]:
df=df.dropna()

In [13]:
df=pd.get_dummies(df)

In [14]:
df

,zone,release_spin_rate,balls,strikes,release_speed,estimated_ba_using_speedangle,pitch_type_CH,pitch_type_CS,pitch_type_CU,pitch_type_FA,pitch_type_FC,pitch_type_FF,pitch_type_FS,pitch_type_KC,pitch_type_KN,pitch_type_SC,pitch_type_SI,pitch_type_SL,p_throws_L,p_throws_R
0,3,2691.0,1,0,87.0,0.131,0,0,0,0,1,0,0,0,0,0,0,0,0,1
1,11,1966.0,1,0,87.0,0.254,1,0,0,0,0,0,0,0,0,0,0,0,0,1
2,12,1977.0,0,2,87.0,0.357,0,0,1,0,0,0,0,0,0,0,0,0,1,0
3,11,2342.0,0,1,87.0,0.220,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,13,1834.0,1,1,87.0,0.051,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119981,1,2097.0,1,1,95.4,0.351,0,0,0,0,0,0,0,0,0,0,1,0,0,1
119982,11,2341.0,0,1,95.4,0.914,0,0,0,0,0,1,0,0,0,0,0,0,0,1
119983,9,2328.0,1,2,95.4,0.331,0,0,0,0,0,1,0,0,0,0,0,0,0,1
119986,9,2193.0,2,2,95.4,0.609,0,0,0,0,0,1,0,0,0,0,0,0,0,1
119992,1,2311.0,2,1,95.4,0.294,0,0,0,0,0,0,0,0,0,0,1,0,0,1

In [15]:
df.columns

Index(['zone', 'release_spin_rate', 'balls', 'strikes', 'release_speed',
       'estimated_ba_using_speedangle', 'pitch_type_CH', 'pitch_type_CS',
       'pitch_type_CU', 'pitch_type_FA', 'pitch_type_FC', 'pitch_type_FF',
       'pitch_type_FS', 'pitch_type_KC', 'pitch_type_KN', 'pitch_type_SC',
       'pitch_type_SI', 'pitch_type_SL', 'p_throws_L', 'p_throws_R'],
      dtype='object')

In [16]:
test = np.array([8, 2100, 1, 2, 90, 0, 0, 0, 0, 0,
                 1, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [17]:
test[4]=800

In [18]:
test

array([   8, 2100,    1,    2,  800,    0,    0,    0,    0,    0,    1,
          0,    0,    0,    0,    0,    0,    0,    1,    0])

In [19]:
df1

NameError: name 'df1' is not defined

In [20]:
y=df['estimated_ba_using_speedangle'].values

In [21]:
X=df.drop('estimated_ba_using_speedangle',axis=1).values

In [22]:
np.isnan(X)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [ ]:
X.shape

In [ ]:
np.isnan(y)

In [ ]:
sc = StandardScaler()

In [ ]:
X.shape

In [ ]:
y=y.reshape(-1,1)

In [ ]:
X=sc.fit_transform(X)
y=sc.fit_transform(y)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size =.2, random_state=0)

In [ ]:
X_train

In [ ]:
X_train.shape

In [ ]:
regressor = RandomForestRegressor(n_estimators =10, random_state=0)
regressor.fit(X_train, y_train)

In [ ]:
X[0]

In [ ]:
y_pred=regressor.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_pred =sc.inverse_transform(y_pred, copy=None)
X_test

In [ ]:
y_test=sc.inverse_transform(y_test)

In [ ]:
y_test

In [ ]:
y_pred[0:10]

In [ ]:
from sklearn import metrics

In [ ]:
metrics.mean_absolute_error(y_test,y_pred)

In [ ]:
X.reshape(-1,1)

In [ ]:
y.reshape(-1,1)

In [ ]:
plt.scatter(y_test,y_pred)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import VotingRegressor

In [ ]:
reg1 = GradientBoostingRegressor(random_state=1)
reg2 = RandomForestRegressor(random_state=1)
reg3 = LinearRegression()
ereg = VotingRegressor(estimators=[('gb', reg1), ('rf', reg2), ('lr', reg3)])
ereg = ereg.fit(X_train, y_train)

In [ ]:
y_pred=ereg.predict(X_test)

In [ ]:
y_pred

In [ ]:
metrics.mean_absolute_error(y_test,y_pred)

In [ ]:

reg1.fit(X, y)
reg2.fit(X, y)
reg3.fit(X, y)

In [ ]:
xt = X[:20]

pred1 = reg1.predict(xt)
pred2 = reg2.predict(xt)
pred3 = reg3.predict(xt)
pred4 = ereg.predict(xt)

In [ ]:
plt.figure()
plt.plot(pred1, "gd", label="GradientBoostingRegressor")
plt.plot(pred2, "b^", label="RandomForestRegressor")
plt.plot(pred3, "ys", label="LinearRegression")
plt.plot(pred4, "r*", ms=10, label="VotingRegressor")

plt.tick_params(axis="x", which="both", bottom=False, top=False, labelbottom=False)
plt.ylabel("predicted")
plt.xlabel("training samples")
plt.legend(loc="best")
plt.title("Regressor predictions and their average")

plt.show()